@font-face {
    font-family: "icons";
    src: url("./icons.ttf?ee1b657013c6ec9feb9e27c49b3bddf4") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dots:before {
    content: "\f101";
}
